@import "bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #f1f5f9;
    font-family: "Poppins", sans-serif;
}
.body-content {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "navbar navbar"
        "sidebar main";
}

.navbar-header {
    grid-area: navbar;
    background: #1d6fa2;
}
.sidebar {
    grid-area: sidebar;
    background: #fff;
}
.main-content {
    grid-area: main;
    background: #f1f5f9;
}
.sub-nav {
    min-height: 60px;
    background: #139904;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

.btn-glow {
    box-shadow: 0 0 10px rgb(0, 191, 255);
}

@media (max-width: 412px) {
    .mt-custom {
        margin-top: 1rem;
    }
}
