@import "bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #f1f5f9;
    font-family: "Poppins", sans-serif;
}
.body-content {
    height: 100vh;
    display: grid;
    grid-template-rows: 45px 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "navbar navbar"
        "sidebar main";
}

// Styles for the Navbar Header
.navbar-header {
    grid-area: navbar;
    background: #1d6fa2;
}
// End of Navbar Header

// Styles for the Sidebar
.sidebar {
    grid-area: sidebar;
    background: #fff;
}
.profile-contents {
    overflow: visible;
    padding: 5px;
    border-radius: 5px;
}
.btn-droplink {
    border: 1px solid red;
    width: 200px;
}
.sidebar-items:hover {
    border: 1px solid rgb(163, 163, 163);
    background: #e7e7e7;
}
/* Active State */
.sidebar-items.active {
    border: 1px solid rgb(163, 163, 163);
    background: #e7e7e7;
    font-weight: bold;
}
// End of Sidebar

// Styles for the Main Content
.main-content {
    grid-area: main;
    background: #f1f5f9;
}
// End of Main Content

// Styles for the Sub Nav
.sub-nav {
    min-height: 45px;
    background: #139904;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.subnav-title h5 {
    margin-bottom: 0;
}
// End of Sub Nav

.btn-glow {
    box-shadow: 0 0 10px rgb(0, 191, 255);
}

.btn-hover-glow:hover {
    box-shadow: 0 0 10px rgb(0, 191, 255);
}
.btn-hover-glow-danger:hover {
    box-shadow: 0 0 10px rgb(255, 46, 109);
}

@media (max-width: 412px) {
    .mt-custom {
        margin-top: 1rem;
    }
}
